.site-title,
svg.icon {
	color: white;
}

.site-logo {
	width: 2em;
	height: 1.5em;
}

@include mq(md) {
	.side-bar,
	.site-footer {
		color: lightblue !important;
		a {
			color: white;
		}
	}
}

@media (max-width: 799.98px) {
	.main-header a {
		color: white;
	}

	.main-content a {
		white-space: unset;
	}
}

.search-result:hover,
.site-button:hover,
.side-bar .nav-list a {
	color: white;
}

.search-result:hover {
	.search-result-preview,
	.search-result-rel-url {
		color: #eee;
	}

	.search-result-icon {
		color: lightblue;
	}
}

.aux-nav-list i {
	margin-right: 3px;
}

.main-content {
	dl {
		grid-template: auto / auto 1fr;
	}

	dt::after {
		content: "";
	}
}
